@font-face {
    font-family: 'Public Pixel' ;
    src: url(file:src/Fonts/PublicPixel-z84yD.ttf);
} 
/* .text {
    -fx-font: 36px "Public Pixel";
} */

.split-pane-divider{
    -fx-background-color: #8f3174;
    background-color: #8f3174;
}

#background {
    -fx-background-color: #20262E;
    background-color: #20262E;
}

#players{
    -fx-font: 24px "Public Pixel";
    font: 24px "Public Pixel";
    -fx-text-fill: #CD5888;
}

#chooseText{
    -fx-font: 10px "Public Pixel";
    font: 10px "Public Pixel";
    -fx-text-fill: #CD5888;
}


#nameText{
    -fx-font: 14px "Public Pixel";
    font: 14px "Public Pixel";
    -fx-text-fill: #CD5888;
}
/* .label{
    -fx-font: 38px "Public Pixel";
    font: 38px "Public Pixel";
    -fx-text-fill: #8f3174;
} */


#textinput{
    -fx-background-color: #E9E8E8;
    background-color: #E9E8E8;
    -fx-font: 12px "Public Pixel";
    font: 12px "Public Pixel";
    -fx-background-insets: 0;
    -fx-text-fill: #CD5888;
    -fx-background-radius: 0;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8f3174;
    border-color: #8f3174;
    -fx-border-width: 5px;
    border-width: 5px;
    -fx-focus-color: transparent;
}

.button{
    -fx-background-color: #E9E8E8;
    background-color: #E9E8E8;
    -fx-font: 12px "Public Pixel";
    font: 12px "Public Pixel";
    -fx-background-insets: 0;
    -fx-text-fill: #CD5888;
    -fx-background-radius: 0;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8f3174;
    border-color: #8f3174;
    -fx-border-width: 5px;
    border-width: 5px;
    -fx-focus-color: transparent;
}
.button:hover{
    -fx-font: 12px "Public Pixel";
    font: 12px "Public Pixel";
    -fx-text-fill: #20262E;
    -fx-background-radius: 0;
    -fx-border-style: solid;
    border-style: solid;
    -fx-border-color: #8f3174;
    border-color: #8f3174;
    -fx-border-width: 5px;
    border-width: 5px;
}